<% content = overlay_content %>
<div class="<%= container_classes %>">
  <div class="shatter-container is-active <%= content[:mode] %>">
    <div class="shatter-overlay"></div>
    <div class="shatter-vignette"></div>
    <div class="shatter-text-wrapper">
      <div class="shatter-text"><%= content[:title] %></div>
      <% if content[:subtitle] %>
        <div class="shatter-subtitle"><%= content[:subtitle] %></div>
      <% end %>
      <% if content[:subsubtitle] %>
        <div class="shatter-subsubtitle"><%= content[:subsubtitle] %></div>
      <% end %>
    </div>
    
    <div class="shatter-actions">
      <%= link_to "Return to Lobby", lobby_path, class: "btn-return" %>
    </div>
  </div>
</div>
