<%= render "application/flash_stream" %>


<%= turbo_stream.replace "player-status" do %>
  <div id="player-status" class="status-bar-wrapper player-status">
    <%= render Game::StatusBarComponent.new(game_player: @game_player, controls: true) %>
  </div>
<% end %>

<%= turbo_stream.replace "field-controls" do %>
  <%= render Game::ControlsComponent.new(game_player: @game_player) %>
<% end %>
