<%= stylesheet_link_tag "game_board" %>

<div class="game-board flex flex-col min-h-screen text-gray-200">
  <!-- 対戦相手エリア: 画面上部 -->
  <div class="opponent-area flex-1 flex flex-col justify-start">
    <div class="play-mat play-mat-opponent">
      <% if @opponent_game_player %>
        <%= render Game::FieldComponent.new(game_player: @opponent_game_player) %>
        <%= render Game::HandComponent.new(game_player: @opponent_game_player, viewer: current_user) %>
      <% else %>
        <div class="flex items-center justify-center h-full">
          <p class="text-xl opacity-50 font-serif">Deep within the library...</p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- 中央エリア (Battle Logなど将来的に配置) -->
  <div class="center-area flex-grow flex items-center justify-center opacity-30 pointer-events-none">
    <div class="text-6xl font-serif text-red-900 tracking-widest">CELEANO</div>
  </div>

  <!-- プレイヤーエリア: 画面下部 -->
  <div class="player-area flex-1 flex flex-col justify-end">
    <div class="play-mat">
      <%= render Game::FieldComponent.new(game_player: @game_player) %>
      <%= render Game::HandComponent.new(game_player: @game_player, viewer: current_user) %>
    </div>
  </div>
</div>
