<div class="<%= card_classes %>"
     <% if @type == :enemy %>data-matchmaking-target="opponentCard"<% end %>>
  <div class="player-card__image-wrapper" <% if @type == :enemy %>data-matchmaking-target="opponentImageWrapper"<% end %>>
    <div style="height: 100%; width: 100%;" <% if @type == :enemy %>data-matchmaking-target="opponentAvatarContainer"<% end %>>
      <% if image_path %>
        <%= image_tag image_path, class: "player-card__image", alt: name %>
      <% else %>
        <div class="player-card__unknown-avatar">
          <span class="unknown-icon">?</span>
        </div>
      <% end %>
    </div>
    
    <div class="<%= status_classes %>" <% if @type == :enemy %>data-matchmaking-target="opponentStatus"<% end %>>
      <%= status_indicator %> <span <% if @type == :enemy %>data-matchmaking-target="opponentStatusText"<% end %>><%= status_text %></span>
    </div>
  </div>
  
  <div class="player-card__info">
    <h3 class="player-card__name" <% if @type == :enemy %>data-matchmaking-target="opponentName"<% end %>><%= name %></h3>
    <p class="player-card__title" <% if @type == :enemy %>data-matchmaking-target="opponentTitle"<% end %>><%= title %></p>
  </div>
</div>
